$primary-color: #04046b;
$secondary-color: #3edbdb;
$light-color: rgb(0, 0, 0);
$font-stack: Verdana, Geneva, sans-serif;

@function set-text-color($color) {
    @if (lightness($color) > 70) {
        @return #333;
    } @else {
        @return #fff;
    }
}

@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);
}

$spaceamounts: (1, 2, 3, 4);

@each $space in $spaceamounts {
    .my-#{$space} {
        margin: #{$space}rem 0;
    }
}
