.form-group{
    margin-left:50px;
    margin-right:50px;
    margin-top:70px;
    margin-bottom:50px;
    padding:1px;
}
#form{
    border:3px;
    border-style: solid;
    margin-top:20px;
    background-color:lightskyblue;
}

.form-control {
    width: 30%;
}