:root {
  --primary-color: #213032;
  --secondary-color: #97a2a3;
}

:root {
  --primary-color: #213032;
  --secondary-color: #97a2a3;
}

.about .about-text p {
  letter-spacing: 1px;
  line-height: 32px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #213032;
  --secondary-color: #97a2a3;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  background: #acb4b5;
}
header .logo {
  font-size: 28px;
  font-weight: bold;
  color: #213032;
  margin-right: 40px;
}
header .logo:hover {
  color: #97a2a3;
  cursor: pointer;
}
header .nav-bar ul {
  display: flex;
  list-style: none;
}
header .nav-bar ul li {
  margin: 0 5px;
}
header .nav-bar ul li a {
  display: block;
  color: #edffef;
  font-size: 20px;
  padding: 8px 25px;
  transition: 0.2s;
  text-decoration: none;
}
header .nav-bar ul li a:hover {
  background-color: #97a2a3;
  color: #213032;
  cursor: pointer;
}

:root {
  --primary-color: #213032;
  --secondary-color: #97a2a3;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("../images/hero.png");
  background-position: center;
  background-size: cover;
}

:root {
  --primary-color: #213032;
  --secondary-color: #97a2a3;
}

.content {
  position: absolute;
  top: 40%;
  left: 8%;
  transform: translateY(-50%);
}
.content h1 {
  color: #213032;
  font-size: 75px;
  margin: 20px 0;
}
.content h3 {
  color: #edffef;
  font-size: 25px;
  margin-bottom: 50px;
}
.content h4 {
  color: #edffef;
  letter-spacing: 2px;
  font-size: 20px;
}
.content .button {
  background-color: #213032;
  color: #fff;
  text-decoration: none;
  border: 2px solid black;
  font-weight: bold;
  padding: 13px 30px;
  transition: 0.4s;
  position: absolute;
}
.content .button:hover {
  background-color: #97a2a3;
  color: #213032;
  border: 2px solid black;
  cursor: pointer;
}

:root {
  --primary-color: #213032;
  --secondary-color: #97a2a3;
}

:root {
  --primary-color: #213032;
  --secondary-color: #97a2a3;
}

.about .about-text p {
  letter-spacing: 1px;
  line-height: 32px;
}

.about {
  width: 100%;
  padding: 100px 0px;
  background-color: var(--primary-color);
}
.about h2 {
  color: #eeddff;
  font-size: 75px;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.about .main {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  align-items: center;
}
.about img {
  height: auto;
  width: 430px;
  border-radius: 20px 0 20px 0;
  margin-right: 430px/6;
}
.about .about-text {
  width: 100%;
}
.about .about-text p {
  color: var(--secondary-color);
  font-size: 20px;
  margin-bottom: 60px;
}

:root {
  --primary-color: #213032;
  --secondary-color: #97a2a3;
}

:root {
  --primary-color: #213032;
  --secondary-color: #97a2a3;
}

.about .about-text p {
  letter-spacing: 1px;
  line-height: 32px;
}

.recipe {
  width: 100%;
  padding: 100px 0;
  background-color: #213032;
}
.recipe h2 {
  color: #213032;
  font-size: 75px;
  text-transform: capitalize;
  margin: 0 0 20px;
  text-align: center;
}
.recipe h2 {
  color: #edffef;
  font-size: 75px;
  text-transform: capitalize;
  margin: 0 0 20px;
  text-align: center;
}
.recipe .box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.recipe .card {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.recipe .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recipe .card .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background-color: #edffef;
  color: #213032;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.recipe .card:hover .content {
  opacity: 1;
}
.recipe .card h3 {
  font-size: 20px;
  margin: 0 0 10px;
  color: #213032;
}
.recipe .card p {
  font-size: 14px;
  margin-bottom: 10px;
}
.recipe .card button {
  background-color: #213032;
  color: #fff;
  text-decoration: none;
  border: 2px solid black;
  font-weight: bold;
  padding: 13px 30px;
  transition: 0.4s;
  position: relative;
}
.recipe .card button:hover {
  background-color: #97a2a3;
  color: #213032;
  border: 2px solid black;
  cursor: pointer;
}

:root {
  --primary-color: #213032;
  --secondary-color: #97a2a3;
}

:root {
  --primary-color: #213032;
  --secondary-color: #97a2a3;
}

.about .about-text p {
  letter-spacing: 1px;
  line-height: 32px;
}

.categories {
  width: 100%;
  padding: 100px 0;
  background-color: #314e52;
}
.categories h2 {
  color: #eeddff;
  font-size: 75px;
  text-transform: capitalize;
  margin: 0 0 20px;
  text-align: center;
}
.categories .box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.categories .ca-card {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 5px solid #ccc;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.categories .ca-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.categories .ca-card .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background-color: #edffef;
  color: #213032;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.categories .ca-card:hover .content {
  opacity: 1;
}
.categories .ca-card h3 {
  font-size: 20px;
  margin: 0 0 10px;
  color: #314e52;
}
.categories .ca-card p {
  font-size: 14px;
  margin-bottom: 10px;
}
.categories .ca-card button {
  background-color: #213032;
  color: #fff;
  text-decoration: none;
  border: 2px solid black;
  font-weight: bold;
  padding: 13px 30px;
  transition: 0.4s;
  position: relative;
}
.categories .ca-card button:hover {
  background-color: #97a2a3;
  color: #213032;
  border: 2px solid black;
  cursor: pointer;
}

:root {
  --primary-color: #213032;
  --secondary-color: #97a2a3;
}

:root {
  --primary-color: #213032;
  --secondary-color: #97a2a3;
}

.about .about-text p {
  letter-spacing: 1px;
  line-height: 32px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background: #182f32;
}
.contact .contact-info,
.contact .contact-form {
  width: 100%;
  max-width: 400px;
  margin: 20px;
  text-align: center;
  color: #edffef;
  font-size: 25px;
}
.contact .contact-info h2,
.contact .contact-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #edffef;
}
.contact .contact-info form,
.contact .contact-form form {
  text-align: center;
}
.contact .contact-info form label,
.contact .contact-info form input,
.contact .contact-info form textarea,
.contact .contact-info form button,
.contact .contact-form form label,
.contact .contact-form form input,
.contact .contact-form form textarea,
.contact .contact-form form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.contact .contact-info form label,
.contact .contact-form form label {
  text-align: left;
  color: #edffef;
}
.contact .contact-info form input,
.contact .contact-info form textarea,
.contact .contact-form form input,
.contact .contact-form form textarea {
  padding: 8px;
}
.contact .contact-info form button,
.contact .contact-form form button {
  background-color: #213032;
  color: #fff;
  text-decoration: none;
  border: 2px solid black;
  font-weight: bold;
  padding: 13px 30px;
  transition: 0.4s;
}
.contact .contact-info form button:hover,
.contact .contact-form form button:hover {
  background-color: #97a2a3;
  color: #213032;
  border: 2px solid black;
  cursor: pointer;
}
.contact .contact-info p,
.contact .contact-form p {
  padding: 15px;
}

:root {
  --primary-color: #213032;
  --secondary-color: #97a2a3;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.social-icons .social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  color: #97a2a3;
  text-align: center;
  line-height: 40px;
  font-size: 32px;
}
.social-icons .social-icon:hover {
  color: #314e52;
  cursor: pointer;
}

footer {
  padding: 20px 0;
  background: #213032;
}
footer h5 {
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
  color: #97a2a3;
}/*# sourceMappingURL=main.css.map */